# PIC 16A Week 1 - 03/31/21 Notes

## Numbers
Python can be used as a calculator because it is so interactive 
Below we will have examples of arthimetic computations

In [2]:
27+6 #addition

33

In [3]:
3*(2+3) #pemdas

15

In [4]:
36/12 #divsion converts integer into floating point numbers (ie decimals)

3.0

In [5]:
35/12 #

2.9166666666666665

Because you can get a non whole number while doing division, python will always give you a floating point number while doing divison

In [6]:
37 % 12 #moduolo

1

In [7]:
2**3 #** acts as exponent operator

8

We can also do operations with floatingpoint numbers

In [8]:
27.3+5.4

32.7

In [9]:
3.2**2.3

14.515932837559118

In [10]:
37.4%12.2

0.8000000000000007

It should be 0.8 exactly but because python is using a float integer, there is a finite precision
- this means that the answer can be close but not exact

We can also get complex numbers

In [11]:
(-1)**(0.5)

(6.123233995736766e-17+1j)

num+1j represents a complex number bc 1j is part of the imaginary axis

### Variables 
we can assign names to certain values using variables

In [12]:
x = 27.3 
y = 5.4

x+y
#same as writing 27.3+5.4

32.7

In [14]:
z = x+y
z

32.7

### Identity and Equality of Variables 
When are two variables considered the same?
- two variables are considered the same when they have the same id
- id is the location in the memory 
- not the same as checking the value of the variable

In [15]:
x = 4
y = 4 

x == y

True

Note: we have used the == to check the values of x and y

In [17]:
id(x), id(y)

(4495555008, 4495555008)

Note: we can use the id funciton in order to check for the location

In [18]:
x is y

True

we can also use the is operator to check if x and y refer to the same object (have the same id)

in this case they are the same bc python is storing the number 4 in a certain place 
- in another example we may not get the same result 

For example, we can see this when using lists
- because lists are mutable and can be changed they are usually stored in different places in memory

In [19]:
a = [1, 2]
b = [1, 2]

c = a #c is equal to a

In [20]:
id(a), id(b)

(140195378458816, 140195377857984)

We can see that a and b are stored in different places

In [21]:
a is b, a == b

(False, True)

is operator checks to see if they refer to same object in memory (they do not)

however, the == operator checks if the value is the same and the values are the same

therefore we get (False, True)

In [22]:
id(c)

140195378458816

In [23]:
a is c, a == c

(True, True)

because we set c equal to a, we have that a and c have the same id's and values



## Strings
A string is series of characters enclosed in quotations. 
- single or double quotation does not matter

In [26]:
a = "to boldly go"
b = 'to boldly go'

a == b  
#they will have the same value regardless of single or double quotation

True

In [29]:
#can put quotes inside quotes if different quotations but not samee
a = "Picard says 'to boldly go'"
b = 'Picard says "to boldly go"'
c = "Picard says "to boldly go""

"Picard says 'to boldly go'"

In [31]:
#if we want to use the same one, need to use \ to escape characters
d = 'Picard says "That\'s Kirk\'s line."'
d

'Picard says "That\'s Kirk\'s line."'

can display a nice readable python object using print function

In [32]:
print(d)

Picard says "That's Kirk's line."

### Basic String Manipulation
can concatenate with a + sign
- makes a new string combining strings with + sign

In [35]:
'david'+ ' ' + 'nguyen'

'david nguyen'

We can also use multiplication with strings 
- can get strings to repeat

In [37]:
'david '*3 #can multiply strings by integers

'david david david '

In [38]:
'david ' *3.2  #multiply string by float will give you error

TypeError: can't multiply sequence by non-int of type 'float'

Concatenation is useful for when strings are in variables

In [39]:
x = 'timidly'
'to ' + x + ' go'

'to timidly go'

If we want to concatenate an integer, convert the integer into a string with the str() function

In [40]:
#will get error bc compiler is trying to add string and int
x = 9
'Deep Space ' + x

TypeError: can only concatenate str (not "int") to str

In [41]:
#no error if we convert with str() function
x = 9
'Deep Space ' + str(x)

'Deep Space 9'

### String Indexing

Similar to c++, python uses 0 indexing
- also uses negative indices to could backwards from the end of a string

In [42]:
s = 'Alpha Quadrant'

In [43]:
s[0]

'A'

In [44]:
s[-1]

't'

In [45]:
s[2],s[-2]

('p', 'n')

We can get substrings using the : opertaor 
- s[start:stop]
- does not include the stop

In [47]:
s[0:3]

'Alp'

In [48]:
s[-4:-2]

'ra'

We can also get characters in an interval apart
- syntax : s[start:stop:interval]

In [49]:
#every 2nd/other letter from indices 0 to 5
s[0:6:2]

'Apa'

In [50]:
#leaving start and stop blank will go through whole string
s[::2]

'ApaQarn'

In [51]:
#s backwards
s[::-1]

'tnardauQ ahplA'

We cannot modify the letters in a string
- this is because strings are immutable 
- cannot be changed once they are created

In [52]:
s[0] = 'a'

TypeError: 'str' object does not support item assignment

In [54]:
s.replace('Alpha', 'Gamma')

'Gamma Quadrant'