In [58]:
#import libraries
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn import tree, preprocessing
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LogisticRegressionCV
from sklearn.metrics import roc_auc_score
from sklearn.metrics import roc_curve
import itertools


#penguins data
url = "https://philchodrow.github.io/PIC16A/datasets/palmer_penguins.csv"
penguins = pd.read_csv(url)
penguins.head()

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN

In [32]:
#dropping columns: studyName, Individual ID, Date Egg, Sample Number
pdata = penguins.drop(['studyName', 'Individual ID', 'Date Egg', 'Region', 'Sample Number', 'Comments'], axis = 1)
pdata.head()

,Species,Island,Stage,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
0,Adelie Penguin (Pygoscelis adeliae),Torgersen,"Adult, 1 Egg Stage",Yes,39.1,18.7,181.0,3750.0,MALE,NaN,NaN
1,Adelie Penguin (Pygoscelis adeliae),Torgersen,"Adult, 1 Egg Stage",Yes,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454
2,Adelie Penguin (Pygoscelis adeliae),Torgersen,"Adult, 1 Egg Stage",Yes,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302
3,Adelie Penguin (Pygoscelis adeliae),Torgersen,"Adult, 1 Egg Stage",Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Adelie Penguin (Pygoscelis adeliae),Torgersen,"Adult, 1 Egg Stage",Yes,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426

In [33]:
#checking info 
pdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Species              344 non-null    object
 1   Island               344 non-null    object
 2   Stage                344 non-null    object
 3   Clutch Completion    344 non-null    object
 4   Culmen Length (mm)   342 non-null    float64
 5   Culmen Depth (mm)    342 non-null    float64
 6   Flipper Length (mm)  342 non-null    float64
 7   Body Mass (g)        342 non-null    float64
 8   Sex                  334 non-null    object
 9   Delta 15 N (o/oo)    330 non-null    float64
 10  Delta 13 C (o/oo)    331 non-null    float64
dtypes: float64(6), object(5)
memory usage: 29.7+ KB

In [34]:
#drop nan values
mydata = pdata.dropna()
mydata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 325 entries, 1 to 343
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Species              325 non-null    object
 1   Island               325 non-null    object
 2   Stage                325 non-null    object
 3   Clutch Completion    325 non-null    object
 4   Culmen Length (mm)   325 non-null    float64
 5   Culmen Depth (mm)    325 non-null    float64
 6   Flipper Length (mm)  325 non-null    float64
 7   Body Mass (g)        325 non-null    float64
 8   Sex                  325 non-null    object
 9   Delta 15 N (o/oo)    325 non-null    float64
 10  Delta 13 C (o/oo)    325 non-null    float64
dtypes: float64(6), object(5)
memory usage: 30.5+ KB

In [35]:
#get rid of penguin with period for sex
data = mydata.drop(mydata.index[318])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 324 entries, 1 to 343
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Species              324 non-null    object
 1   Island               324 non-null    object
 2   Stage                324 non-null    object
 3   Clutch Completion    324 non-null    object
 4   Culmen Length (mm)   324 non-null    float64
 5   Culmen Depth (mm)    324 non-null    float64
 6   Flipper Length (mm)  324 non-null    float64
 7   Body Mass (g)        324 non-null    float64
 8   Sex                  324 non-null    object
 9   Delta 15 N (o/oo)    324 non-null    float64
 10  Delta 13 C (o/oo)    324 non-null    float64
dtypes: float64(6), object(5)
memory usage: 30.4+ KB

In [36]:
#transforming cols that are not floats and ints
le = preprocessing.LabelEncoder()

#species 
data['Species'] = le.fit_transform(data['Species'])
#island
data['Island'] = le.fit_transform(data['Island'])
#stage
data['Stage'] = le.fit_transform(data['Stage'])
#clutch competition
data['Clutch Completion'] = le.fit_transform(data['Clutch Completion'])
#sex
data['Sex'] = le.fit_transform(data['Sex'])

data.head()

,Species,Island,Stage,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
1,0,2,0,1,39.5,17.4,186.0,3800.0,0,8.94956,-24.69454
2,0,2,0,1,40.3,18.0,195.0,3250.0,0,8.36821,-25.33302
4,0,2,0,1,36.7,19.3,193.0,3450.0,0,8.76651,-25.32426
5,0,2,0,1,39.3,20.6,190.0,3650.0,1,8.66496,-25.29805
6,0,2,0,0,38.9,17.8,181.0,3625.0,0,9.18718,-25.21799

In [37]:
#making combos
categories = list(data.columns)[1:]
combos = list(itertools.combinations(categories, 3))
combos

[('Island', 'Stage', 'Clutch Completion'),
 ('Island', 'Stage', 'Culmen Length (mm)'),
 ('Island', 'Stage', 'Culmen Depth (mm)'),
 ('Island', 'Stage', 'Flipper Length (mm)'),
 ('Island', 'Stage', 'Body Mass (g)'),
 ('Island', 'Stage', 'Sex'),
 ('Island', 'Stage', 'Delta 15 N (o/oo)'),
 ('Island', 'Stage', 'Delta 13 C (o/oo)'),
 ('Island', 'Clutch Completion', 'Culmen Length (mm)'),
 ('Island', 'Clutch Completion', 'Culmen Depth (mm)'),
 ('Island', 'Clutch Completion', 'Flipper Length (mm)'),
 ('Island', 'Clutch Completion', 'Body Mass (g)'),
 ('Island', 'Clutch Completion', 'Sex'),
 ('Island', 'Clutch Completion', 'Delta 15 N (o/oo)'),
 ('Island', 'Clutch Completion', 'Delta 13 C (o/oo)'),
 ('Island', 'Culmen Length (mm)', 'Culmen Depth (mm)'),
 ('Island', 'Culmen Length (mm)', 'Flipper Length (mm)'),
 ('Island', 'Culmen Length (mm)', 'Body Mass (g)'),
 ('Island', 'Culmen Length (mm)', 'Sex'),
 ('Island', 'Culmen Length (mm)', 'Delta 15 N (o/oo)'),
 ('Island', 'Culmen Length (mm)', 'Delta 13 C (o/oo)'),
 ('Island', 'Culmen Depth (mm)', 'Flipper Length (mm)'),
 ('Island', 'Culmen Depth (mm)', 'Body Mass (g)'),
 ('Island', 'Culmen Depth (mm)', 'Sex'),
 ('Island', 'Culmen Depth (mm)', 'Delta 15 N (o/oo)'),
 ('Island', 'Culmen Depth (mm)', 'Delta 13 C (o/oo)'),
 ('Island', 'Flipper Length (mm)', 'Body Mass (g)'),
 ('Island', 'Flipper Length (mm)', 'Sex'),
 ('Island', 'Flipper Length (mm)', 'Delta 15 N (o/oo)'),
 ('Island', 'Flipper Length (mm)', 'Delta 13 C (o/oo)'),
 ('Island', 'Body Mass (g)', 'Sex'),
 ('Island', 'Body Mass (g)', 'Delta 15 N (o/oo)'),
 ('Island', 'Body Mass (g)', 'Delta 13 C (o/oo)'),
 ('Island', 'Sex', 'Delta 15 N (o/oo)'),
 ('Island', 'Sex', 'Delta 13 C (o/oo)'),
 ('Island', 'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)'),
 ('Stage', 'Clutch Completion', 'Culmen Length (mm)'),
 ('Stage', 'Clutch Completion', 'Culmen Depth (mm)'),
 ('Stage', 'Clutch Completion', 'Flipper Length (mm)'),
 ('Stage', 'Clutch Completion', 'Body Mass (g)'),
 ('Stage', 'Clutch Completion', 'Sex'),
 ('Stage', 'Clutch Completion', 'Delta 15 N (o/oo)'),
 ('Stage', 'Clutch Completion', 'Delta 13 C (o/oo)'),
 ('Stage', 'Culmen Length (mm)', 'Culmen Depth (mm)'),
 ('Stage', 'Culmen Length (mm)', 'Flipper Length (mm)'),
 ('Stage', 'Culmen Length (mm)', 'Body Mass (g)'),
 ('Stage', 'Culmen Length (mm)', 'Sex'),
 ('Stage', 'Culmen Length (mm)', 'Delta 15 N (o/oo)'),
 ('Stage', 'Culmen Length (mm)', 'Delta 13 C (o/oo)'),
 ('Stage', 'Culmen Depth (mm)', 'Flipper Length (mm)'),
 ('Stage', 'Culmen Depth (mm)', 'Body Mass (g)'),
 ('Stage', 'Culmen Depth (mm)', 'Sex'),
 ('Stage', 'Culmen Depth (mm)', 'Delta 15 N (o/oo)'),
 ('Stage', 'Culmen Depth (mm)', 'Delta 13 C (o/oo)'),
 ('Stage', 'Flipper Length (mm)', 'Body Mass (g)'),
 ('Stage', 'Flipper Length (mm)', 'Sex'),
 ('Stage', 'Flipper Length (mm)', 'Delta 15 N (o/oo)'),
 ('Stage', 'Flipper Length (mm)', 'Delta 13 C (o/oo)'),
 ('Stage', 'Body Mass (g)', 'Sex'),
 ('Stage', 'Body Mass (g)', 'Delta 15 N (o/oo)'),
 ('Stage', 'Body Mass (g)', 'Delta 13 C (o/oo)'),
 ('Stage', 'Sex', 'Delta 15 N (o/oo)'),
 ('Stage', 'Sex', 'Delta 13 C (o/oo)'),
 ('Stage', 'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)'),
 ('Clutch Completion', 'Culmen Length (mm)', 'Culmen Depth (mm)'),
 ('Clutch Completion', 'Culmen Length (mm)', 'Flipper Length (mm)'),
 ('Clutch Completion', 'Culmen Length (mm)', 'Body Mass (g)'),
 ('Clutch Completion', 'Culmen Length (mm)', 'Sex'),
 ('Clutch Completion', 'Culmen Length (mm)', 'Delta 15 N (o/oo)'),
 ('Clutch Completion', 'Culmen Length (mm)', 'Delta 13 C (o/oo)'),
 ('Clutch Completion', 'Culmen Depth (mm)', 'Flipper Length (mm)'),
 ('Clutch Completion', 'Culmen Depth (mm)', 'Body Mass (g)'),
 ('Clutch Completion', 'Culmen Depth (mm)', 'Sex'),
 ('Clutch Completion', 'Culmen Depth (mm)', 'Delta 15 N (o/oo)'),
 ('Clutch Completion', 'Culmen Depth (mm)', 'Delta 13 C (o/oo)'),
 ('Clutch Completion', 'Flipper Length (mm)', 'Body Mass (g)'),
 ('Clutch Completion', 'Flipper Length (mm)', 'Sex'),
 ('Clutch Completion', 'Flipper Length (mm)', 'Delta 15 N (o/oo)'),
 ('Clutch Completion', 'Flipper Length (mm)', 'Delta 13 C (o/oo)'),
 ('Clutch Completion', 'Body Mass (g)', 'Sex'),
 ('Clutch Completion', 'Body Mass (g)', 'Delta 15 N (o/oo)'),
 ('Clutch Completion', 'Body Mass (g)', 'Delta 13 C (o/oo)'),
 ('Clutch Completion', 'Sex', 'Delta 15 N (o/oo)'),
 ('Clutch Completion', 'Sex', 'Delta 13 C (o/oo)'),
 ('Clutch Completion', 'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)'),
 ('Culmen Length (mm)', 'Culmen Depth (mm)', 'Flipper Length (mm)'),
 ('Culmen Length (mm)', 'Culmen Depth (mm)', 'Body Mass (g)'),
 ('Culmen Length (mm)', 'Culmen Depth (mm)', 'Sex'),
 ('Culmen Length (mm)', 'Culmen Depth (mm)', 'Delta 15 N (o/oo)'),
 ('Culmen Length (mm)', 'Culmen Depth (mm)', 'Delta 13 C (o/oo)'),
 ('Culmen Length (mm)', 'Flipper Length (mm)', 'Body Mass (g)'),
 ('Culmen Length (mm)', 'Flipper Length (mm)', 'Sex'),
 ('Culmen Length (mm)', 'Flipper Length (mm)', 'Delta 15 N (o/oo)'),
 ('Culmen Length (mm)', 'Flipper Length (mm)', 'Delta 13 C (o/oo)'),
 ('Culmen Length (mm)', 'Body Mass (g)', 'Sex'),
 ('Culmen Length (mm)', 'Body Mass (g)', 'Delta 15 N (o/oo)'),
 ('Culmen Length (mm)', 'Body Mass (g)', 'Delta 13 C (o/oo)'),
 ('Culmen Length (mm)', 'Sex', 'Delta 15 N (o/oo)'),
 ('Culmen Length (mm)', 'Sex', 'Delta 13 C (o/oo)'),
 ('Culmen Length (mm)', 'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)'),
 ('Culmen Depth (mm)', 'Flipper Length (mm)', 'Body Mass (g)'),
 ('Culmen Depth (mm)', 'Flipper Length (mm)', 'Sex'),
 ('Culmen Depth (mm)', 'Flipper Length (mm)', 'Delta 15 N (o/oo)'),
 ('Culmen Depth (mm)', 'Flipper Length (mm)', 'Delta 13 C (o/oo)'),
 ('Culmen Depth (mm)', 'Body Mass (g)', 'Sex'),
 ('Culmen Depth (mm)', 'Body Mass (g)', 'Delta 15 N (o/oo)'),
 ('Culmen Depth (mm)', 'Body Mass (g)', 'Delta 13 C (o/oo)'),
 ('Culmen Depth (mm)', 'Sex', 'Delta 15 N (o/oo)'),
 ('Culmen Depth (mm)', 'Sex', 'Delta 13 C (o/oo)'),
 ('Culmen Depth (mm)', 'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)'),
 ('Flipper Length (mm)', 'Body Mass (g)', 'Sex'),
 ('Flipper Length (mm)', 'Body Mass (g)', 'Delta 15 N (o/oo)'),
 ('Flipper Length (mm)', 'Body Mass (g)', 'Delta 13 C (o/oo)'),
 ('Flipper Length (mm)', 'Sex', 'Delta 15 N (o/oo)'),
 ('Flipper Length (mm)', 'Sex', 'Delta 13 C (o/oo)'),
 ('Flipper Length (mm)', 'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)'),
 ('Body Mass (g)', 'Sex', 'Delta 15 N (o/oo)'),
 ('Body Mass (g)', 'Sex', 'Delta 13 C (o/oo)'),
 ('Body Mass (g)', 'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)'),
 ('Sex', 'Delta 15 N (o/oo)', 'Delta 13 C (o/oo)')]

In [38]:
#splitting the data in test and training
train, test = train_test_split(data, test_size = 0.3)
train.shape, test.shape

((226, 11), (98, 11))

In [39]:
x_train = train.drop(['Species'], axis = 1)
y_train = train['Species'].values

x_test = test.drop(['Species'], axis = 1)
y_test = test['Species'].values

In [40]:
y_train

array([0, 0, 2, 1, 2, 0, 0, 0, 1, 2, 0, 0, 2, 2, 2, 2, 0, 2, 0, 0, 2, 1,
       1, 2, 2, 0, 0, 0, 2, 2, 0, 2, 1, 1, 2, 0, 1, 2, 0, 2, 2, 2, 1, 0,
       0, 0, 1, 2, 1, 0, 0, 0, 2, 2, 0, 2, 1, 1, 0, 0, 1, 2, 2, 1, 0, 0,
       1, 0, 2, 0, 1, 0, 0, 2, 2, 2, 2, 0, 0, 0, 2, 0, 0, 2, 0, 2, 0, 0,
       1, 1, 0, 0, 1, 2, 2, 0, 2, 0, 1, 0, 1, 0, 0, 0, 2, 0, 2, 0, 0, 2,
       0, 1, 2, 0, 0, 2, 1, 1, 0, 1, 2, 0, 2, 0, 0, 1, 2, 0, 0, 1, 0, 0,
       0, 0, 1, 2, 0, 0, 2, 0, 0, 1, 1, 2, 1, 2, 0, 2, 0, 0, 0, 1, 2, 2,
       0, 2, 1, 0, 2, 2, 2, 0, 0, 0, 2, 2, 1, 2, 1, 2, 2, 0, 2, 0, 0, 2,
       2, 1, 1, 2, 0, 0, 2, 0, 0, 1, 1, 0, 2, 0, 0, 1, 0, 2, 2, 0, 2, 0,
       0, 2, 2, 0, 0, 2, 0, 1, 0, 2, 0, 0, 0, 1, 0, 0, 1, 2, 2, 2, 1, 1,
       1, 2, 1, 0, 2, 2])

In [48]:
def check_column_score(cols):
    """
    Trains and evaluates a model via cross-validation on the columns of the data
    with selected indices
    """
    clf = LogisticRegressionCV(cv=5, random_state=0, max_iter = 1000).fit(x_train[cols], y_train)
    return clf.score(x_train[cols], y_train)

In [ ]:
clf = LogisticRegressionCV(cv=5, random_state=0).fit(X, y)

logreg = LogisticRegression(max_iter = 1000)
return cross_val_score(logreg, x_train[cols], y_train, cv = 5).mean()

clf.score(X, y)

In [49]:
D = {}

for i in range(len(combos)): 
    cols = list(combos[i])
    x = check_column_score(cols)
    D[i] = x

In [51]:
D

{0: 0.6460176991150443,
 1: 0.9513274336283186,
 2: 0.7654867256637168,
 3: 0.8008849557522124,
 4: 0.7699115044247787,
 5: 0.6460176991150443,
 6: 0.8053097345132744,
 7: 0.8230088495575221,
 8: 0.9513274336283186,
 9: 0.7522123893805309,
 10: 0.8185840707964602,
 11: 0.7566371681415929,
 12: 0.6460176991150443,
 13: 0.8053097345132744,
 14: 0.827433628318584,
 15: 1.0,
 16: 0.9690265486725663,
 17: 0.9778761061946902,
 18: 0.9911504424778761,
 19: 0.9823008849557522,
 20: 0.9734513274336283,
 21: 0.7920353982300885,
 22: 0.7876106194690266,
 23: 0.7920353982300885,
 24: 0.8628318584070797,
 25: 0.9336283185840708,
 26: 0.7787610619469026,
 27: 0.8097345132743363,
 28: 0.8761061946902655,
 29: 0.9557522123893806,
 30: 0.7831858407079646,
 31: 0.8362831858407079,
 32: 0.9203539823008849,
 33: 0.8053097345132744,
 34: 0.8230088495575221,
 35: 0.911504424778761,
 36: 0.7566371681415929,
 37: 0.7477876106194691,
 38: 0.8053097345132744,
 39: 0.7389380530973452,
 40: 0.4424778761061947,
 41: 0.7035398230088495,
 42: 0.7168141592920354,
 43: 0.9646017699115044,
 44: 0.9513274336283186,
 45: 0.9513274336283186,
 46: 0.7743362831858407,
 47: 0.9203539823008849,
 48: 0.9557522123893806,
 49: 0.8185840707964602,
 50: 0.7876106194690266,
 51: 0.7743362831858407,
 52: 0.827433628318584,
 53: 0.915929203539823,
 54: 0.7699115044247787,
 55: 0.7964601769911505,
 56: 0.8716814159292036,
 57: 0.9469026548672567,
 58: 0.7743362831858407,
 59: 0.7743362831858407,
 60: 0.7964601769911505,
 61: 0.6991150442477876,
 62: 0.7035398230088495,
 63: 0.8539823008849557,
 64: 0.9646017699115044,
 65: 0.9513274336283186,
 66: 0.9424778761061947,
 67: 0.7787610619469026,
 68: 0.9203539823008849,
 69: 0.9557522123893806,
 70: 0.8185840707964602,
 71: 0.7831858407079646,
 72: 0.7477876106194691,
 73: 0.831858407079646,
 74: 0.9292035398230089,
 75: 0.7522123893805309,
 76: 0.7964601769911505,
 77: 0.8849557522123894,
 78: 0.9469026548672567,
 79: 0.7743362831858407,
 80: 0.7477876106194691,
 81: 0.8407079646017699,
 82: 0.6946902654867256,
 83: 0.7035398230088495,
 84: 0.8584070796460177,
 85: 0.9911504424778761,
 86: 0.9911504424778761,
 87: 0.995575221238938,
 88: 0.995575221238938,
 89: 1.0,
 90: 0.9867256637168141,
 91: 0.995575221238938,
 92: 0.9823008849557522,
 93: 0.9911504424778761,
 94: 0.9911504424778761,
 95: 0.9557522123893806,
 96: 0.9557522123893806,
 97: 0.9557522123893806,
 98: 0.9823008849557522,
 99: 0.9778761061946902,
 100: 0.7876106194690266,
 101: 0.8053097345132744,
 102: 0.8849557522123894,
 103: 0.9601769911504425,
 104: 0.7876106194690266,
 105: 0.8584070796460177,
 106: 0.9513274336283186,
 107: 0.8672566371681416,
 108: 0.9557522123893806,
 109: 0.911504424778761,
 110: 0.7964601769911505,
 111: 0.8362831858407079,
 112: 0.9026548672566371,
 113: 0.8761061946902655,
 114: 0.9424778761061947,
 115: 0.9424778761061947,
 116: 0.8362831858407079,
 117: 0.827433628318584,
 118: 0.8716814159292036,
 119: 0.8407079646017699}

In [50]:
def test_column_score(tupCol):
    """
    Trains and evaluates a model on the test set using the columns of the data
    with selected indices
    """
    cols = list(tupCol)
    logreg = LogisticRegression(max_iter = 1000)
    logreg.fit(x_train[cols], y_train)
    return logreg.score(x_test[cols], y_test)

In [52]:
L = list(D.items())
L.sort(key = lambda tup: tup[1], reverse = True)

best = L[0:10]

for where, score in best:
    print("---- " + str(where))
    print(str(combos[where]) + ", Score: " + str(np.round(score, 5)))
    test_score = test_column_score(combos[where])
    print("Test score is: " + str(np.round(test_score, 5)))

---- 15
('Island', 'Culmen Length (mm)', 'Culmen Depth (mm)'), Score: 1.0
Test score is: 0.97959
---- 89
('Culmen Length (mm)', 'Culmen Depth (mm)', 'Delta 13 C (o/oo)'), Score: 1.0
Test score is: 1.0
---- 87
('Culmen Length (mm)', 'Culmen Depth (mm)', 'Sex'), Score: 0.99558
Test score is: 0.9898
---- 88
('Culmen Length (mm)', 'Culmen Depth (mm)', 'Delta 15 N (o/oo)'), Score: 0.99558
Test score is: 0.9898
---- 91
('Culmen Length (mm)', 'Flipper Length (mm)', 'Sex'), Score: 0.99558
Test score is: 0.94898
---- 18
('Island', 'Culmen Length (mm)', 'Sex'), Score: 0.99115
Test score is: 0.97959
---- 85
('Culmen Length (mm)', 'Culmen Depth (mm)', 'Flipper Length (mm)'), Score: 0.99115
Test score is: 0.95918
---- 86
('Culmen Length (mm)', 'Culmen Depth (mm)', 'Body Mass (g)'), Score: 0.99115
Test score is: 1.0
---- 93
('Culmen Length (mm)', 'Flipper Length (mm)', 'Delta 13 C (o/oo)'), Score: 0.99115
Test score is: 0.93878
---- 94
('Culmen Length (mm)', 'Body Mass (g)', 'Sex'), Score: 0.99115
Test score is: 0.96939

In [53]:
X_train = train[list(combos[0])]
X_test = test[list(combos[0])]

In [60]:
X_train

     Island  Stage  Clutch Completion
64        0      0                  1
50        0      0                  1
338       0      0                  0
174       1      0                  0
322       0      0                  1
..      ...    ...                ...
288       0      0                  1
198       1      0                  1
116       2      0                  1
279       0      0                  1
254       0      0                  1

[226 rows x 3 columns]

In [55]:
def check_thing(cols):
    logreg = LogisticRegression(max_iter = 1000)
    return cross_val_score(logreg, x_train[cols], y_train, cv = 5).mean()

A = {}
for i in range(len(combos)): 
    cols = list(combos[i])
    x = check_thing(cols)
    A[i] = x

In [56]:
A

{0: 0.6285990338164251,
 1: 0.9470531400966185,
 2: 0.7522705314009661,
 3: 0.787342995169082,
 4: 0.6988405797101449,
 5: 0.6463768115942028,
 6: 0.7701449275362319,
 7: 0.8233816425120773,
 8: 0.9470531400966185,
 9: 0.7211594202898551,
 10: 0.7828985507246375,
 11: 0.6817391304347827,
 12: 0.6285990338164251,
 13: 0.7657004830917875,
 14: 0.8189371980676329,
 15: 0.9777777777777779,
 16: 0.9557487922705314,
 17: 0.9644444444444444,
 18: 0.9690821256038648,
 19: 0.9601932367149759,
 20: 0.9691787439613527,
 21: 0.7962318840579709,
 22: 0.787632850241546,
 23: 0.7788405797101449,
 24: 0.8406763285024155,
 25: 0.9160386473429952,
 26: 0.7520772946859904,
 27: 0.78743961352657,
 28: 0.8716908212560387,
 29: 0.9514009661835748,
 30: 0.7831884057971015,
 31: 0.7657004830917874,
 32: 0.8143961352657005,
 33: 0.7701449275362319,
 34: 0.8189371980676329,
 35: 0.8676328502415458,
 36: 0.7256038647342995,
 37: 0.7167149758454106,
 38: 0.787342995169082,
 39: 0.7210628019323672,
 40: 0.3936231884057971,
 41: 0.6771980676328502,
 42: 0.6906280193236716,
 43: 0.9646376811594204,
 44: 0.9513043478260871,
 45: 0.9290821256038647,
 46: 0.769855072463768,
 47: 0.9159420289855073,
 48: 0.9467632850241546,
 49: 0.8006763285024154,
 50: 0.787632850241546,
 51: 0.7700483091787439,
 52: 0.8185507246376812,
 53: 0.9071497584541062,
 54: 0.654975845410628,
 55: 0.7785507246376812,
 56: 0.8761352657004832,
 57: 0.9380676328502415,
 58: 0.6898550724637682,
 59: 0.7743961352657005,
 60: 0.721256038647343,
 61: 0.6772946859903382,
 62: 0.7038647342995169,
 63: 0.8409661835748793,
 64: 0.9646376811594204,
 65: 0.9513043478260871,
 66: 0.9378743961352658,
 67: 0.761159420289855,
 68: 0.9159420289855073,
 69: 0.9467632850241546,
 70: 0.796231884057971,
 71: 0.7609661835748793,
 72: 0.7478260869565216,
 73: 0.8052173913043479,
 74: 0.9026086956521739,
 75: 0.7038647342995168,
 76: 0.7742028985507247,
 77: 0.8628019323671496,
 78: 0.9380676328502415,
 79: 0.7477294685990337,
 80: 0.7432850241545894,
 81: 0.7123671497584542,
 82: 0.6684057971014493,
 83: 0.6949758454106281,
 84: 0.8365217391304348,
 85: 0.9777777777777779,
 86: 0.9777777777777779,
 87: 0.9866666666666667,
 88: 0.9822222222222223,
 89: 0.9911111111111112,
 90: 0.9204830917874396,
 91: 0.9557487922705314,
 92: 0.9601932367149759,
 93: 0.9557487922705314,
 94: 0.9733333333333334,
 95: 0.9246376811594204,
 96: 0.9467632850241546,
 97: 0.9556521739130435,
 98: 0.9733333333333334,
 99: 0.9645410628019324,
 100: 0.787632850241546,
 101: 0.7743961352657005,
 102: 0.8804830917874396,
 103: 0.9514009661835748,
 104: 0.787632850241546,
 105: 0.8052173913043479,
 106: 0.8580676328502417,
 107: 0.8317874396135266,
 108: 0.9381642512077295,
 109: 0.9070531400966184,
 110: 0.7344927536231884,
 111: 0.7788405797101449,
 112: 0.8408695652173913,
 113: 0.8583574879227053,
 114: 0.9380676328502415,
 115: 0.9380676328502415,
 116: 0.7966183574879228,
 117: 0.7610628019323672,
 118: 0.8628019323671499,
 119: 0.8231884057971015}

In [59]:
#logit_roc_auc = roc_auc_score(y_test, logreg.predict(X_test))

NameError: name 'logreg' is not defined

In [73]:
lr = LogisticRegression(max_iter = 1000)
lr.fit(x_train, y_train)

logit_roc_auc = roc_auc_score(y_test, x_test)

ValueError: multi_class must be in ('ovo', 'ovr')

In [74]:
x_test

,Island,Stage,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
138,1,0,0,37.0,16.5,185.0,3400.0,0,8.61651,-26.07021
230,0,0,0,40.9,13.7,214.0,4650.0,0,8.19579,-25.39330
177,1,0,0,52.0,19.0,197.0,4150.0,1,9.36799,-24.47142
264,0,0,1,50.5,15.9,222.0,5550.0,1,8.46894,-26.60436
201,1,0,1,49.8,17.3,198.0,3675.0,0,9.32169,-24.41562
...,...,...,...,...,...,...,...,...,...,...
4,2,0,1,36.7,19.3,193.0,3450.0,0,8.76651,-25.32426
196,1,0,1,50.9,17.9,196.0,3675.0,0,9.43684,-24.16566
197,1,0,1,50.8,18.5,201.0,4450.0,1,9.45827,-24.35575
157,1,0,1,45.2,17.8,198.0,3950.0,0,8.88942,-24.49433
332,0,0,1,43.5,15.2,213.0,4650.0,0,8.21634,-26.11046